ion-content {
    --background: transparent !important;
}

ion-button { 
    --padding-start: 0px;
    --padding-end: 0px;
}

ion-icon {
    font-size: 30px;
}

#capture.landscape {
    position: absolute;
    right: 10px;
    bottom: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#flip.landscape {
    position: absolute;
    right: 10px;
    bottom: calc(75% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#close.landscape {
    position: absolute;
    right: 10px;
    bottom: calc(25% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#capture.portrait {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#flip.portrait {
    position: absolute;
    bottom: 10px;
    left: calc(75% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#close.portrait {
    position: absolute;
    bottom: 10px;
    left: calc(25% - 25px);
    width: 50px;
    height: 50px;
    z-index: 99999;
}

#capture::part(native) {
    border-radius: 30px;
}

#close::part(native) {
    border-radius: 30px;
}

#flip::part(native) {
    border-radius: 30px;
}
  