<ion-content id="content" [fullscreen]="true">
  <div *ngIf="misc.camActive">
    <ion-button (click)="stopCamera()" color="light" expand="block" id="close">
      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
    </ion-button>

    <ion-button (click)="takePicture()" color="light" expand="block" id="capture">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>

    <ion-button (click)="flipCamera()" color="light" expand="block" id="flip">
      <ion-icon slot="icon-only" name="repeat"></ion-icon>
    </ion-button>
  </div>
</ion-content>