<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openMenu()" style="margin-left:18px"><ion-icon name="menu-sharp"></ion-icon>
    </ion-buttons>
    <ion-title><ion-icon [name]="menuIcon"></ion-icon> {{menuTitle}}</ion-title>
    <ion-buttons slot="primary" *ngIf="indicator" (click)="misc.showToast('Koneksi akan diperbarui otomatis secara berkala')">
      <ion-button *ngIf="indicator==1" color="success">Terhubung:<ion-icon name="checkmark"></ion-icon></ion-button>
      <ion-button *ngIf="indicator==0" color="danger">Terhubung:<ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main" swipeGesture="false">
  <ion-header>
    <ion-toolbar>
      <ion-title><ion-icon name="layers"></ion-icon> Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content>
        <b>User: {{user}}</b><br>
        <b>Role: {{role}}</b><br>
        <b>Unit: {{unit}}</b><br>
      </ion-card-content>
    </ion-card> 
    <ion-list *ngFor="let list of userMenu">
      <ion-menu-toggle *ngFor="let p of list;let i = index" auto-hide="false">
        <ion-item button (click)="moveTo(p.path)" [ngClass]="p.path.split('/')[1]==pf.doc.location.pathname.split('/')[1]?'selected':''" lines="none" detail="false">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label> {{p.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="logout()" lines="none" detail="false">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label> Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
